/*Progress tracker CSS*/
ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    ol.progtrckr li {
        display: inline-block;
        text-align: center;
        line-height: 3em;
    }

        ol.progtrckr li.progtrckr-done {
            color: yellowgreen;
            border-bottom: 4px solid yellowgreen;
        }

        ol.progtrckr li.progtrckr-todo {
            color: silver;
            border-bottom: 4px solid silver;
        }

        ol.progtrckr li:before {
            position: relative;
            bottom: -2.5em;
            float: left;
            left: 50%;
            line-height: 1em;
        }

        ol.progtrckr li:first-child {
            text-align: left;
            padding-left: 0 !important;
        }

            ol.progtrckr li:first-child:before {
                left: 0;
            }

            ol.progtrckr li:first-child span.statusTitle {
                position: relative;
                left: -15px;
            }

        ol.progtrckr li:last-child {
            text-align: right;
            padding-right: 0 !important;
        }


            ol.progtrckr li:last-child:before {
                left: 100%;
            }

            ol.progtrckr li:last-child span.statusTitle {
                position: relative;
                right: -15px;
            }

        ol.progtrckr li.progtrckr-done:before {
            content: "\2713";
            color: white;
            background-color: yellowgreen;
            height: 1.2em;
            width: 1.2em;
            line-height: 1.2em;
            border: none;
            border-radius: 1.2em;
            text-align: center;
        }

        ol.progtrckr li.progtrckr-todo:before {
            content: "\039F";
            color: silver;
            background-color: white;
            font-size: 1.5em;
            bottom: -1.6em;
            text-align: center;
        }
.ui-corner-all
{
	border-radius: 4px/*{cornerRadius}*/;
}
.ui-tooltip {
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
    background: #A064A1;
    color: #F7F0F2;
    border: none;
    padding: 0;
    opacity: 1;
}

.ui-tooltip-content {
    position: relative;
    padding: 1em;
    min-width: 100px;
}

    .ui-tooltip-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        display: block;
        width: 0;
    }

.right .ui-tooltip-content::after {
    top: 18px;
    left: -10px;
    border-color: transparent #A064A1;
    border-width: 10px 10px 10px 0;
}

.left .ui-tooltip-content::after {
    top: 18px;
    right: -10px;
    border-color: transparent #A064A1;
    border-width: 10px 0 10px 10px;
}

.top .ui-tooltip-content::after {
    bottom: -10px;
    left: 50%;
    border-color: #A064A1 transparent;
    border-width: 10px 10px 0;
}

.bottom .ui-tooltip-content::after {
    top: -10px;
    left: 50%;
    border-color: #A064A1 transparent;
    border-width: 0 10px 10px;
}


#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
